@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuración de fuente Roboto para toda la aplicación */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}